
@media (max-width: 1200px) {
    .container {
        width: 900px;
    }
    .wrapper {       
        grid-template-columns: 310px 500px;
    }
    .skills-and-languages {
        width: 220px;
    }
    .rang {
        &-item {
            grid-template-columns: 100px 120px;
        }
    }
    .hobbies {
        width: 220px;
    }
    .introduce {
        h4 {
            left: 0;
            transform: translateX(45%);
        }
    }

}
@media (max-width: 992px) {
    .container {
        width: 750px;
    }
    .wrapper {       
        grid-template-columns: 310px 380px;
    }
    .menu {
        width: 380px;
        &-item {
            font-size: 13px;
        }
    }
    .information {
        grid-template-columns: 380px;
    }
    .introduce {
        height: 60px;
        width: 100%;
        h1 {
            font-size: 26px;
        }
        h4 {
            font-size: 12px; 
            bottom: -7px;
        }
    }
    .education {
        &-info {
            grid-template-columns: 220px 50px 80px;
        }
    }
}
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .title {
        text-align: center;
    }
    .wrapper {
        grid-template-columns: 100%;
        padding: 0 20px;
    }
    .information {
        grid-template-columns: 100%;
        grid-row: 1 / 2; 
        align-items:center;
    }
    .introduce {
        h4 {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .aside {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 240px 240px;
        align-items:center;
        row-gap: 20px;
        &-line {
            display: none;
        }
        
    }
    
    .photo {
        padding-top: 0;

    }
    .contact {
        padding-left: 0;
        &-item {
            grid-template-columns: 20px 85%;
            justify-content: space-between;
            column-gap: unset;
        }
    }
    .skills-and-languages {
        height: 250px;
        position: static;
        padding: 0;
        width: 100%;
        grid-row: 1 / 2; 
        grid-column: 1 / 3; 
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-auto-rows: auto 80px;
        justify-content: space-around;
       

    }
    .languages {
        padding-top: 0;  
    }
    .rang {
        &-item {
            grid-template-columns: 40% 60%;
            
        }
    }
    .hobbies {
        grid-column: 1 / 3;
        width: 100%;
        color: #333333;
        margin: 0 auto;
        padding-top: 20px;  
    }
    .footer {
        &-links {
            width: 100%; 
            justify-content: space-around;
        }
        &-year {   
            transform: rotate(0deg);
        }
        &-link {
            &-git {
                padding-left: 0;
            }
        }
    }
    .menu {
        width: 100%;
        &-list {
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: rgba(0, 0, 0, 0.8);
            top: -150%;
            left: 5%;
            width: 50%;
            height: 100vh;
            padding: 50px 15px;
            transition: 0.5s all;
            z-index: 10;
            &_active {
                left: 5%;
                top: 40px;
            }
        }
        &-item {
            font-size: 20px;
            padding-bottom: 20px;
            a {
                color: rgb(255, 157, 142);
            }
        }
    }
    .hamburger {

        width: 100%;
        height: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        cursor: pointer;    
        span {
            display: block;
            width: 30px;
            height: 3px;
            background: #333333;
            transition: 0.5s all;
        }
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(9px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(-9px) rotate(45deg);
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .container {
        width: 90%;
    }
    .wrapper {
        row-gap: 20px;
    }
    .aside {
        grid-template-columns: 100%;
        grid-template-rows: auto 240px 240px;

    }
    .introduce {
        height: 40px;
        h1 {
            font-size: 16px;
        }
        h4 {
            left: 0%;
            transform: translateX(15%);
        }
    }
    .skills-and-languages {
        grid-row: 1 / 2; 
        grid-column: unset;
        grid-template-columns: 80%;
        grid-template-rows: auto auto auto;
        row-gap: 20px;
        height: unset;
    }
    .hobbies {
        grid-column: unset;
        padding-top: 0;

    }
    .photo {
        margin: 0 auto;
        padding-left: 0;
    }
    .contact {
        justify-content: center;
        &-item {
            grid-template-columns: 20px 210px;
            justify-content: center;
            column-gap: 30px;
        }
    }
    .education {
        &-info {
            display: grid;
            grid-template-columns: 100%;
        }
        &-subtitle {
            padding-left: 0;
            text-align: center;
        }
        &-divider {
            width: 80%;
            margin: 10px auto;
        }
        &-more {
            text-align: center;
        }
    }
    .projects {
       &-list {
            grid-template-columns: 120px;
            justify-content: center;
       }
    }
    .footer {
        
        &-links {
            
            grid-template-columns: 20% 40% 20%;
            justify-content: flex-start;
            
            column-gap: 20px;
        }
        &-year {   
            transform: rotate(-90deg);
        }
        &-link {
            &-git {
                padding-left: 0;
            }
        }
    }
}