@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap');
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(255, 157, 142, 0.5);
}
html {
    scroll-behavior: smooth;
}
.container {
    width: 1000px;
    margin: 40px auto;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
      
}
.wrapper {
    display: grid;        
    grid-template-columns: 350px 550px;
    column-gap: 40px;
}
// .menu {
//     position: absolute;
//     top: 0;
//     right: 0;
//     transform: translateX(100%);
//     padding: 20px 30px 20px 30px;
//     width: 110px;
//     background-color: #C4C4C4;
//     box-shadow: 5px 10px 10px rgba(0,0,0,0.5), 5px -10px 10px rgba(0,0,0,0.2);
    
//     &-list {
//         list-style-type: none;
//     }
//     &-item {
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 28px;
//         font-style: italic;
//         color: #333333;
        
//         a {
//             color: #333333;
//             text-decoration: none ;
//             transition: all 0.5s;
//             &:hover {
//                 color: rgb(255, 157, 142);
//             }
//         }
//     }
// }
.top-line {
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 157, 142);
}
.menu { 
    position: relative;
    z-index: 10;
    &-list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-auto-rows: 60px;
        align-items: center;
        justify-content: space-between;
        
    }
    &-item {
        font-weight: 500;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0.05em;
        a {
            color: #333333;
            text-decoration: none ;
            // transition: all 0.5s;
            // &:hover {
            //     color: #242732;
            // }
        }
    }
}
.hamburger {
    display: none; 
}
.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 52px;
    text-transform: uppercase;
    color: #242732;
}

.aside {
    display: grid;
    grid-template-rows: 240px 200px auto;
    position: relative;
    &-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        background-color: rgb(255, 157, 142);
        z-index: 0;
    }  
}
.photo {
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
    width: 200px;
    img {
        width: 100%;
        
    }
}

.contact {
    display: grid;
    padding-left: 20px;
    grid-template-rows: repeat(4, 50px);
    justify-content: space-between;
    position: relative;
    list-style-type: none;
    &-item {
        display: grid;
        grid-template-columns: 20px auto;
        align-items: center;
        column-gap: 30px;
    }
    &-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #333333;
    }
    &-subtitle {
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }
    &-logo {
        z-index: 10;
        img {
            width: 100%;
        }
    }
}
.skills-and-languages {
    background-color: #C4C4C4;  
    width: 100%;
    padding: 40px 20px 0px 70px;
    position: relative;
    width: 260px;
    z-index: 10;
}
.languages {
    padding-top: 40px;
    
}
.rang {
    
    list-style-type: none;
    &-counter {
        display: none;
    }
    &-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        font-style: italic;
        color: #333333;
    }
    &-item {
        height: 25px;
        display: grid;
        grid-template-columns: 100px 150px;
        justify-content: space-between;
        align-items: center;
    }
    &-line {
        width: 100%;
        height: 8px;
        border-radius: 4px;
        background: #ffffff;
            
        span {
            display: block;
            height: 100%;
            background: rgb(255, 157, 142); 
            border-radius: 4px;
        }
    }
}
.hobbies {
    width: 260px;
    margin: 50px 0 0 0;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

.information {
    padding-bottom: 20px;
    display: grid;
    // grid-template-rows: 65px 200px 165px auto;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 100px repeat(4, auto);
    row-gap: 20px;
}
.introduce {

    position: relative;
    height: 60px;
    border: 2px solid #242732;
    h1 {
        padding: 10px 0;
        font-weight: 400;
        color: #242732;
        text-align: center;
        letter-spacing: 0.15em;          
        span {
            font-weight: 700;
        }
    }
    h4 {
        position: absolute;
        bottom: -8px;
        left: 50%;
        padding: 0 5px;
        transform: translateX(-50%);
        background-color: #ffffff;
        font-weight: 400;
        text-align: center;
        color: #333333;
        letter-spacing: 0.15em;
        
    }

}
.about {
    &-descr {
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }
}
.education {
    
    &-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #333333;
        letter-spacing: 0.05em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &-info {
        display: grid;
        grid-template-columns: 300px 50px 100px;
        grid-template-rows: auto;
        align-items: center;
        justify-content: space-between;
        // 
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.03em;
        color: #999999;
    }
    &-subtitle {
        padding-left: 20px;
    }
    &-more {
        text-align: right;
    }
    &-divider {
        width: 100%;
        height: 2px;
        background: rgba(36, 39, 50, 0.4);
    }
}
.footer {
    height: 100px;
    width: 100%;
    background: rgb(255, 157, 142);
    &-year {   
        transform: rotate(-90deg);
        font-weight: 900;
        font-size: 24px;
        color: #000000;
    }
    &-links {
        width: 350px;
        display: grid;
        grid-template-columns: 60px 170px 60px;
        column-gap: 10px;
        grid-template-rows: 100px;     
        align-items: center;
    }
    &-link {
        width: 100%;
        a {
            
            img {
                width: 100%;
            }
        }
        &-git {
            padding-left: 20px;
        }
    }
}
.code {
    &-wrapper {
        margin-top: 10px;
        padding:  0 20px ;     
        background-color:rgba(255, 157, 142, 0.5);                     
    }
    
} 
.projects {

    &-list {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 120px);
        justify-content: space-between;
        grid-template-rows: 200px;
        grid-auto-rows: 200px;
        figure {           
            img {
                width: 100%;
                height: 60%;
                border-radius: 100%;
                object-fit: cover;
                transition: all 0.5s;
                &:hover {
                    box-shadow: 0 0 2px 10px rgba(255, 157, 142, 0.5);

                }
            }
        }
        figcaption {       
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            text-align: center;
        }
    }
}

