@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(255, 157, 142, 0.5);
}
.container {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}

.cv {
    margin-top: 40px;
    padding-left: 60px;
    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 52px;
        text-transform: uppercase;
        color: #242732;
    }
    &__wrapper {
        display: grid;        
        grid-template-columns: 350px 550px;
        column-gap: 40px;
    }
    &__aside {
        display: grid;
        grid-template-rows: 210px 200px 510px;
        &-line {
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 100%;
            background-color: rgb(255, 157, 142);
            z-index: 0;
        }
        
    }
    &__photo {
        position: relative;
        padding-left: 85px;
        padding-top: 20px;
        width: 170px;
        img {
            width: 100%;
        }
    }
    
    &__contact {
        display: grid;
        padding-left: 20px;
        grid-template-rows: repeat(4, 50px);
        justify-content: space-between;
        position: relative;
        &-item {
            display: grid;
            grid-template-columns: 20px auto;
            align-items: center;
            column-gap: 30px;
        }
        &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            color: #333333;
        }
        &-subtitle {
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
        }

        &-logo {
            z-index: 10;
            img {
                width: 100%;
            }
        }
    }
    &__skills-and-languges {
        background-color: #C4C4C4;
        padding: 0 20px 30px 70px;
    }
    &__rang {
        padding-top: 40px;
        &-counter {
            display: none;
        }
        &-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            font-style: italic;
            color: #333333;
        }
        &-item {
            height: 25px;
            display: grid;
            grid-template-columns: 100px 150px;
            justify-content: space-between;
            align-items: center;
        }
        &-line {
            width: 100%;
            height: 8px;
            border-radius: 4px;
            background: rgb(255, 157, 142);  
            span {
                display: block;
                height: 100%;
                background: #ffffff;
                border-radius: 4px;
            }
        }
    }
    &__hobbies {
        margin-top: 50px;
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #666666;
    }
}